/*html {
	background: url(../images/rice.jpg) repeat;
	background-size: cover;
}*/

body {
	font-size: 16px;
	font-family: 'Oxygen', sans-serif;
	/*color: #8E8D8A;*/
	/*background: url(../images/fruits.jpg) repeat;
	background-size: cover;*/
}

.container{
	padding: 0px;
}

#header-nav{
	/*background-color: white; /*#D8C3A5*/
	border-radius: 0;
	border-bottom: 10px solid;
  	border-image-slice: 1;
  	border-width: 5px;
	border-image-source: linear-gradient(to right, #FFFFFF, #FFA500);
	margin-bottom: 35px;
	/*background: -webkit-linear-gradient(right, #FFA500, #FFFFFF);*/
}

#logo-img{
	background: url('../images/pravasi_logo_150px.png') no-repeat;
	width: 150px;
	height: 80px;
	margin: 10px 15px 10px 0;
}

#nav-list a{
	font-weight: 400;
  	font-size: 1.25em;
}

#header-nav button.navbar-toggler, #header-nav button.navbar-toggler:focus, #header-nav button.navbar-toggler:active {
  border-color: #FFA500;
  outline-color: #FFA500;
}

#header-container span.navbar-toggler-icon{
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 165, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

#nav-list{
	margin: 0 auto;
	padding-right: 120px;
}

#backgroundPicture{
	margin-bottom: 20px;
}

#nav-list a{
	padding-right: 60px;
}

/***********Main Page****************/

#main-content h2{
	color: orange;
	margin-bottom: 30px;
}

.container .jumbotron{
	padding: 0px;
	border-radius: 0;
}

#whyPravasi{
	height: 200px;
	width: 80%;
	margin-bottom: 15px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
}

#whyPravasi h2{
	font-size: 1.5em;
	text-align: center;
	padding-bottom: 5px;
	padding-top: 15px;
	color: orange;
	margin-bottom: 10px;
}

#whyPravasi p{
	text-align: center;
	padding-bottom: 15px;

}

.row{
	margin-right: 0px;
	margin-left: 0px;
}

#staplesTile, #fruitsTile, #mapTile{
	width: 100%;
	height: 275px;
	position: relative;
	overflow: hidden;
	
}

.tiles{
	padding: 0px;
	margin-bottom: 10px;
}

#staplesTile:hover, #fruitsTile:hover, #mapTile:hover{
	border: 1px solid black;
}

/*.tiles:hover {
	/*box-shadow: 0 2px 10px 2px #cccccc;
	
}*/


#staplesTile{
	background: url('./images/staples_250_250.jpg') no-repeat;
	background-position: center;
	background-size: cover;
	width: 98%;
}

#fruitsTile{
	background: url('./images/fruits_325_250.jpg') no-repeat;
	background-position: center;
	background-size: cover;
	width: 98%
}



#staplesTile span, #fruitsTile span, #mapTile span{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	text-align: center;
	font-size: 1.2em;
	text-transform: uppercase;
	background-color: #FFA500;
	color: #000;
	opacity: .7;
	font-weight: 400;
}



/**************Footer Section*********************/

/*#footer-container*/

.panel-footer{
	text-align: center;
	font-size: .7em;
	margin-top: 50px;
	padding-bottom: 30px;
	background-color: #000;
	opacity: .7;
	color: #fff;
}

.panel-footer section hr{
	border: 1px solid white;
	width: 70%;
}


#footer-container h5{
	padding-top: 10px;
	padding-bottom: 10px;
	text-decoration: underline;
}


/*********Commodities Page*****************************/



/*.commodity-images{
	position: relative;	
	width: 100%;
	width: 	200px;
	height: 200px;
	margin-bottom: 15px;
	float: left;
	margin-right: 15px;
	overflow: hidden;
}*/

.commodity-images{
	position: relative;	
	width: 	200px;
	height: 200px;
	margin-left: 0px;
	overflow: hidden;
	padding: 0px;
}

.commodity-images span{
	width: 200px;
	position: absolute;	
	bottom: 0;
	left: 0;
	background-color: orange;
	opacity: .7;
	color: 	#000;
	text-align: center;	
	text-transform: uppercase;
}

.commodity-description{
	padding: 0px;
}


.commodity-list
{
	height: 200px;
	width: 100%;
	padding-right: 0px;
	padding-left: 0px;
	margin-top: 30px;
}

.commodity-list:nth-child(5){
	margin-bottom: 0;
}

#carouselSection{
	padding: 0px;
	height: 200px;
}


#fruitsVaritiesCarousel{
	width: 	200px;
	height: 200px;
	margin-left:0px;
	padding: 0px;
	position: relative;


}

#fruitsVaritiesCarousel .carousel-item{
	height: 200px;
	width: 200px;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

#fruitsVaritiesCarousel .carousel-item .carousel-caption{
	position: absolute;
	right: 0;
	left:0;
	bottom:0;
	left: 0;
	width: 200px;
	background-color: orange;
	opacity: .7;
	color: 	#000;
	text-align: center;	
	text-transform: uppercase;
	padding-bottom: 0px;
	padding-top: 0px;
	margin: 0px;
	height: 25px;
}

.carousel-item img{
	position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
	height: 200px;
	width: 200px;
	overflow: hidden;
}

#OtherVareities{
	margin-bottom: 30px;
	height: 200px;
}

/*#carouselExampleControls.carousel-control-prev {
  	margin-left: -100px;
}

#carouselExampleControls.carousel-control-next {
  	margin-right: -100px;
}*/

#commodities-main-content section{
	padding-bottom: 10px;
}

#commodities-main-content section hr{
	border: .5px solid black;
}

#commodities-main-content h2{
margin: 0px;
}

#commodities-main-content h3{
	margin-bottom: 40px;
	margin-top: 40px;
	background-color: orange;
	opacity: .7;
	text-align: center;
}

/**************Extra Large devices only***********/

@media (min-width: 1200px){
#backgroundImage {
	background: url(../images/rice_1200_520.jpg) no-repeat;
	width: 100%;
	height:520px;
}


}

/**************Large devices only**********/

@media (min-width: 992px) and (max-width: 1199px){

#backgroundImage {
	background: url(../images/rice_992_430.jpg) no-repeat;
	width: 100%;
	height:430px;*/
}

#whyPravasi{
width: 90%	
}

}

/***************Medium devices only**********/

@media	(min-width: 768px) and (max-width: 991px){

#nav-list{
	padding:0;
}

#nav-list a{
	padding:0;
	text-align: center;
}

#backgroundImage {
	background: url(../images/rice_768_333.jpg) no-repeat;
	width: 100%;
	height:333px;
}

#whyPravasi{
	height: 225px;
	width: 80%;
	margin-bottom: 15px;
	margin-left: auto;
	margin-right: auto;
}

#whyPravasi h2{
	font-size: 1.25em;
	text-align: center;
	padding-bottom: 5px;
	padding-top: 0px;
	margin-bottom: 10px;
}

#whyPravasi p{
	text-align: center;
	padding-bottom: 15px;
}



}

/***************Small devices only*****/

@media (min-width: 576px) and (max-width: 767px){

#nav-list{
	padding:0;
}

#nav-list a{
	padding:0;
	text-align: center;
}

#backgroundImage {
	background: url(../images/rice_576_250.jpg) no-repeat;
	width: 100%;
	height:250px;
}

#whyPravasi{
	height: 220px;
	width: 100%;
	margin-bottom: 15px;
	margin-left: auto;
	margin-right: auto;
}

#whyPravasi h2{
	font-size: 1.25em;
	font-weight: 400;
	text-align: center;
	padding-bottom: 5px;
	padding-top: 0px;
	margin-bottom: 10px;
}

#whyPravasi p{
	text-align: center;
	padding-bottom: 15px;
}

.commodity-images{
	float: none;
	left: 50%;
	transform: translateX(-50%);
	margin-bottom: 10px;
}

.commodity-list{
	margin-left: auto;
	margin-right: auto;
	height: 300px;
	padding-top: auto;
	padding-bottom: auto;
}

.commodity-list p{
	padding: 5px;
	text-align: center;
}

#OtherVareities{
	margin-bottom: 50px;
}

#fruitsVaritiesCarousel{
	position: relative;
	margin-right: 0px;
	float: none;
	left: 50%;
	transform: translateX(-50%);
}

#OtherVareities p{
	padding: 5px;
	text-align: center;
}

}

/***************Extra Small devices only*****/

@media (max-width: 575px){

#nav-list{
	padding:0;
}

#nav-list a{
	padding:0;
	text-align: center;
}

#main-content{
	padding-right: 16px;
	padding-left: 16px;
}


#whyPravasi{
	height: 225px;
	width: 100%;
	margin-bottom: 15px;
	margin-left: auto;
	margin-right: auto;
}

#whyPravasi h2{
	font-size: 1.25em;
	text-align: center;
	padding-bottom: 5px;
	padding-top: 0px;
	margin-bottom: 10px;
}

#whyPravasi p{
	text-align: center;
	padding-bottom: 10px;
	font-size: .8em;
}

#staplesTile, #fruitsTile, #mapTile{
	width: 100%;
	height: 160px;
	position: relative;
	overflow: hidden;
}

.panel-footer{
	font-size: .8em;
}

.commodity-images{
	float: none;
	left: 50%;
	transform: translateX(-50%);
	margin-bottom: 10px;
}

.commodity-list{
	margin-left: auto;
	margin-right: auto;
	height: 300px;
	padding-top: auto;
	padding-bottom: auto;
}

.commodity-list p{
	padding: 5px;
	text-align: center;
}

#OtherVareities{
	margin-bottom: 50px;
}

#fruitsVaritiesCarousel{
	position: relative;
	margin-right: 0px;
	float: none;
	left: 50%;
	transform: translateX(-50%);
}

#OtherVareities p{
	padding: 5px;
	text-align: center;
}

}